* {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  grid-template-areas: "nav"
    "content";
  grid-template-columns: 120px auto;
}

.nav-container {
  grid-area: nav;
  background-color: #91d4eb;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 33px;
  font-size: 27px;
}
.fa-cart-shopping{
  font-size: 33px;
}

.bag-container {
  grid-area: content;
  width: 90%;
  margin: 33px auto;
  padding: 13px;
}

.items-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.bag-container h1{
  text-align: center;
  margin-bottom: 33px;
}

.items-container .card{
  margin: 3px ;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid gray;
  border-radius: 13px 3px;
  padding: 11px;
}

.card .info{
  display:flex;
  flex-flow: column nowrap;
  margin:13px;
}

.info button{
  width: 50px;
  background-color: #edb84f;
  border: 0px;
  border-radius: 13px;
  padding: 3px;
  cursor: pointer;
}

.card img{
  width: 100px;
  border-radius: 13px;
}

.quantity{
  display: grid;
  grid-template-rows: 30px 30px 33px;
  margin-left: 43px;
}

.quantity button{
  background-color: #88c1d4;
  border: 0;
  border-radius: 13px;
  padding: 3px;
  width: 26px;
  cursor: pointer;
}

.quantity span{
  margin: 6px 5px;
}

.footer{
  margin: 13px;
  text-align: center;
  border-top: 1px solid gray;
  padding: 13px;
}

.total{
  display:flex;
  justify-content: space-evenly;
}

.footer button{
  background-color: #88c1d4;
  border: 0;
  border-radius: 13px;
  cursor: pointer;
  width: 110px;
  padding: 10px;
  margin-top: 13px;
}

.bag-container div {
  display: flex;
  justify-content: center;
}

.bag-container div .btn-reset{
  padding: 11px;
  border-radius: 13px 40px;
  border:0;
  box-shadow: 3px 3px black;
  cursor: pointer;
  transition: 0.7s;
}
.bag-container div .btn-reset:hover{
  box-shadow: 5px 5px black;
  transform: scale(2,2);

}


.count-circle{
  padding: 7px;
  width: 13px;
  height: 19px;
  border-radius: 100%;
  color: #ffffff;
  background-color: #9e3636;
  position: absolute;
  right: 19px;
  top: 11px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.count-circle span{
  font-size: 17px;
  
}